:root {
  --white: #ffffff;
  --black: #000000;
  --deep-grey: #242424;
  --light-grey: #ededed;
  --purple: #7772f6;
  --deep-purple: #7575ee;
  --hover-purple: #380fa1;
}

a {
  text-decoration: none;
}
