.site-header {
  width: 100%;
  background: var(--deep-grey);
  .container-menu {
    display: flex;
    max-width: 1084px;
    justify-content: center;
    padding: 24px 37px;
    margin: 0 auto;
    .menu {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .container-social-networks {
        display: flex;
        column-gap: 11px;
      }
    }
  }
}
