@use "../abstracts/mixins";
@use "../abstracts/variables";
@use "sass:map";

@each $name, $color in variables.$tooltyp-buttons {
  .#{$name}-button {
    // Estilos base del botón
    @include mixins.tooltyp-buttons(
      $color,
      transparent,
      // Fondo transparente en estado normal
      $color,
      // Texto color
      $color // Borde color
    );

    // Estilos de hover
    &:hover {
      background: $color;
      border: 2px solid $color;

      @if $name == "white" {
        color: map.get(variables.$tooltyp-buttons, "hover-purple");
      } @else if $name == "deep-purple" {
        color: map.get(variables.$tooltyp-buttons, "white");
      }
    }
  }
}
